{% extends "base.html" %}
{%block head%}

    {{ super() }}
    {% block title %} Report {% endblock %} 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}

{% block main %}
    <h1>Create Report </h1>
    <hr>

<!-- <script src="{{ url_for('static', filename = 'available_functions.js') }}"></script> -->
<p> Use this page to create your report.  Click on the checkboxes of the tests and visualisations you would like to run and press generate when you are ready to go.</p>

    <form name = "reportData" action = "{{ url_for('report')}}" id ="exp_tests_form" method="POST">

        <fieldset>
            <legend> <span class = "material-icons md-48" style = "color: #2ead79">description</span> Descriptive Statistics </legend>
            
            <input type ="checkbox" id = "mean_sd" name = "desc" value="mean_sd">
            <label for = "mean_sd">Mean and Standard Deviation</label><br></br>
        </fieldset>


        <!-- some sort of for loop to go through the descriptive
        stats available in dictionary from back end, attached to radio button
        want to return the text of their choices to backend to then run specified tests -->
        <fieldset>
            <legend> <span class = "material-icons md-48" style = "color: #BF40BF">analytics</span> Visualisations </legend>

            <input type = "checkbox" id = "scatter_plt" name = "vis" value = "scatter_plt">
            <label for = "scatter_plt"> Scatter Plot</label><br></br>
    
            <input type = "checkbox" id = "regression_plt" name = "vis" value = "regression_plt">
            <label for = "regression_plt"> Regression Plot </label><br></br>

            <input type = "checkbox" id = "box_plt" name = "vis" value = "box_plt">
            <label for = "box_plt"> Box Plot </label><br></br>

            <input type = "checkbox" id = "violin_plt" name = "vis" value = "violin_plt">
            <label for = "violin_plt"> Violin Plot </label><br></br>
        </fieldset>


        <!-- Same idea for loop -->
        <fieldset>
            <legend> <span class = "material-icons md-48" style = "color: #0509df">data_exploration</span> Inferential Statistics </legend>

            <input type = "checkbox" id = "regression" name = "inf" value = "regression">
            <label for = "regression">Linear Regression</label><br></br>
        </fieldset>
 
        <!-- Same idea for loop -->

        <fieldset>
            <legend> <span class = "material-icons md-48" style = "color: #ee850e">straighten</span> Metrics </legend>
            <input type = "checkbox" id = "precision" name = "metric" value = "precision">
            <label for = "precision">Precision</label><br></br>
        </fieldset>

        <input class="btn btn-outline-info" type="submit" value = "Generate"/>
        </form>

    <script>
        function showDescOptions(){
            document.getElementById("descForm").style.display = 'block';
        }
    </script>



{% endblock %}