{% extends "base.html" %}
{%block head%}
    {{ super() }}
    {% block title %} Report {% endblock %} 
{% endblock %}

{% block main %}
    <h1>Your Report </h1>
    <hr>

    <div id = "final_stats">
        {% for key, value in stats.items() %}
            <p> Your {{key}} statistics: </p>
            {% if value is none %}
                <p> No {{key}} tests selected </p>
            {% else %}
                <tr>
                    <td> {{ value | safe }} </td>
                    <br>
                </tr>
            {% endif %}
        {% endfor %}

        </div>
    <div id = "final_vis">
        <p>Your visualisation: </p>
        <img src="data:image/png;base64, {{vis}}" alt = "plot of results">
    </div>

    <div id="is_significant">
        {% if significant %}
            <p> Your p value is <strong>significant</strong>, meaining the null hypothesis is rejected</p>
        {% else %}
            <p> Your p value is <strong>non-significant</strong> meaning the null hypothesis is accepted </p>
        {% endif %}
    </div>

    <div id = "report_home_btn">
        <a class="btn btn-outline-info" href="{{ url_for('index') }}">Home</a>
    </div>


{% endblock %}
