input[type=checkbox]{
    margin-left: 50px;
}

th, td {
    padding: 5px;
  }

#upload_form{
    float: left;
    margin-bottom: 50px;
    margin-right: 50px;
    border-style: solid;
    border-color: rgba(81, 0, 255, 0.665);
    border-width: 3px;
    padding: 10px;
    border-radius: 8px;
    clear: left;
}

#delete_form{
    float: left;
    margin-bottom: 50px;
    margin-right: 50px;
    border-style: solid;
    border-color: rgba(81, 0, 255, 0.665);
    border-width: 3px;
    padding: 10px;
    border-radius: 8px;
    clear: left;
}

#exp_design_form{
    border-style: solid;
    border-width: 3px;
    border-color: rgba(81, 0, 255, 0.665);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 50px;
    float: left;
}

#exp_tests_form{
    margin-left: 50px;
    padding-bottom: 20px;
}

#final_stats{
    float:left;
    width: 40%;
    margin-left: 50px;
}

#final_vis{
    float: right;
    width: 50%;
}

#is_significant{
    clear: both;
    text-align: center;
    border-style: solid;
    border-color: rgb(37, 204, 37);
    background-color: rgba(37, 204, 37, 0.26);
    width: 95%;
    padding-bottom: 10px;
    border-radius: 8px;
    margin: auto;
}

#report_home_btn{
    padding-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
}
#home{
    margin-left: 50px;
    margin-bottom: 10px;   
}

#messages{
    clear: both;
    margin: auto;
    border-radius: 8px;
    width: 95%;
}

.error {
    color: red
}