/* html tags */
h1 {
    color: rgb(3, 3, 3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
}

h2 {
    color: rgb(3, 3, 3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
}

form {
    margin-bottom: 10px;
}

/* divs */

.main{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.descriptive{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.visualisation{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}


.inferential{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.significance{
    margin-bottom: 10px;
}

.buttons{
    margin-top: 10px;
    margin-bottom: 10px;
}


/* buttons */

.homeButton{
    font-size: 16px;
    padding: 14px 24px;
    background-color: rgb(164, 165, 164);
}
.genReportButton{
    font-size: 16px;
    padding: 14px 24px;
    background-color: rgb(78, 170, 49);
}

.editReportButton{
    font-size: 16px;
    padding: 14px 16px;
    background-color: rgb(180, 59, 59);
}